body {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
* {
    border: 1px solid black;
}

header {
    grid-column: 1 / end;
    display: flex;
}
button,
li {
    cursor: pointer;
}
#projectPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
#projectPopup.active {
    opacity: 1;
    pointer-events: all;
}
#formPopup {
    background-color: white;
}